.container {
  width: 320px;
  margin: 0 auto;
}

.background {
  background-image: url("../images/main-mobile.png");
  background-color: rgba(0, 0, 0, 1);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 65px;
  width: 320px;
}

.menu-list {
  padding-top: 28px;
  margin-bottom: 115px;
}

.menu-link {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 16px;
  border: 2px solid transparent;
  border-radius: 30px;
}

.menu-link:hover {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 16px;
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.logo-link {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.logo-link:hover {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-family: var(--main-font);
  font-size: 29px;
  font-weight: 700;
  color: #ffffff;
}

.ideal-partner {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 0px 52px;
}

.find-partner {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main-color);
  padding: 10px 47px;
  border-radius: 25px;
}

.find-partner:hover {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  color: #333333;
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 34px;
}

.person {
  width: 216px;
}

.person-img {
  margin-bottom: 24px;
  position: relative;
}

.person-card {
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.person-card-main {
  padding: 8px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.btn-main-pink {
  background-color: var(--main-color);
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.btn-main-yellow {
  background-color: #ffa507;
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.btn-main-green {
  background-color: #1cd7ad;
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.btn-main-blue {
  background-color: #4e73db;
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.person-name {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.person-about {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 28px;
}

.partners-link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 57px;
  padding: 13px 50px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
}

.partners-link:hover {
  text-decoration: none;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.container-fluid {
  padding: 0;
}

@media (max-width: 767px) {
  .logo-link {
    margin-bottom: 19px;
  }

  .find-partner {
    margin-bottom: 137px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    min-width: 768px;
  }

  .background {
    background-image: url("../images/main-tablet.png");
    background-color: rgba(0, 0, 0, 1);
    width: 768px;
  }

  .menu-list {
    padding-top: 51px;
    padding-right: 35px;
    margin-bottom: 142px;
  }

  .logo-link {
    padding-left: 35px;
  }

  h1 {
    font-size: 52px;
    margin-bottom: 19px;
  }

  .ideal-partner {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .find-partner {
    padding: 9px 20px;
    margin-bottom: 135px;
  }

  .partners-link:hover {
    padding: 9px 28px;
  }

  .team-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 492px;
    height: 582px;
  }

  .person-about {
    margin-bottom: 60px;
  }

  .person-about:nth-child(-n + 4) {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 940px;
  }

  .background {
    background-image: url("../images/main-desktop.png");
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
  }

  .find-partner {
    margin-bottom: 235px;
  }

  h1 {
    font-size: 52px;
  }
}
