@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("../fonts/roboto-slab-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v8-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v13-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v13-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 120px 0;
  font-size: 0;
}

.logo {
  display: inline-block;
  font-family: "Roboto Slab";
  font-style: italic;
  color: #fed136;
  font-size: 26px;
}

.site-navigation {
  list-style: none;
}

.navigation-item {
  display: inline-block;
  margin-right: 40px;
  padding: 11px 0 0 0;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  text-decoration: none;
  color: black;
  display: block;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 14px;
}

.navigation-link:hover,
.navigation-link:focus {
  transition-property: color;
  transition-timing-function: ease;
  color: #fed136;
  transition-duration: 200ms;
}

.main-title {
  font-family: "Roboto Slab";
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 18px;
  font-size: 40px;
}

.main-description {
  font-family: "Roboto Slab";
  text-align: center;
  color: #777777;
  opacity: 0.6;
  padding-bottom: 75px;
}

.main-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-list-item {
  width: 312px;
}

.icon {
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 73px;
  height: 73px;
}

.e-commerce {
  background-image: url("../images/image-01.png");
}

.responsive-web {
  background-image: url("../images/image-02.png");
}

.web-security {
  background-image: url("../images/image-03.png");
}

.second-title {
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 16px;
  padding-top: 28px;
}

.second-description {
  font-family: "Roboto Slab";
  text-align: center;
  color: #777777;
  font-size: 14px;
  padding-bottom: 120px;
}

.contactus-section {
  background-color: #222222;
  background-size: cover;
  position: relative;
  background-image: url("../images/image-map.png");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 800px 110px;
  padding-top: 110px;
  padding-bottom: 115px;
}

.third-title {
  font-family: "Montserrat";
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 23px;
}

.third-description {
  font-family: "Roboto Slab";
  text-align: center;
  color: #777777;
  margin-bottom: 75px;
}

.pre-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pre-footer:last-of-type {
  margin-bottom: 0;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid #e4e4e4;
  width: 455px;
  height: 50px;
  border-radius: 6px;
  margin-top: 32px;
  padding: 1rem;
}

.input:first-child {
  margin-top: 0;
}

.input::placeholder {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #bbbbbb;
  padding: 19px 0 21px 20px;
  font-size: 14px;
}

.text-area {
  border: 2px solid #e4e4e4;
  width: 456px;
  height: 100%;
  margin-left: 30px;
  border-radius: 6px;
  padding: 1rem;
}

.text-area::placeholder {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #bbbbbb;
  padding: 20px 0 0 20px;
  font-size: 14px;
}

.submit-block {
  border: 1px solid #fed136;
  margin: auto 0;
  background-color: #fed136;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  width: 240px;
  height: 65px;
}

.chek-form input:focus:required:valid,
.chek-form text-area:required:valid {
  border: 1.5px solid green;
}

.chek-form input:focus:required:invalid,
.chek-form text-area:required:invalid {
  border: 1.5px solid red;
}
