:root{
   --main-font: 'Montserrat', sans-serif;
   --secondary-font:'Kaushan Script', cursive;
   --roboto-font: 'Roboto', sans-serif;
   --main-color: #f38181;
   --color-secondary: #fce38a;
   --color-light-blue: #95e1d3;
}