/* Base Settings */
body {
  margin: 0 auto;
  padding: 0 auto;
}
div {
  display: inline-block;
}
.navigation-container {
  display: block;
  margin: 0% 6% 27.5px;
  min-width: 600px;
  max-width: 1160px;
}

ul {
  margin: 0 auto;
}
li {
  display: inline-block;
  justify-content: center;
}
a {
  font-family: Open sans-serif;
  text-decoration: none;
  color: #0f0101;
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
}
a:hover {
  color: #1abc9c;
}

/*--Header--*/

.navigation-container {
  display: block;
  margin: 27px 6% 27px;
  min-width: 600px;
  max-width: 1141px;
}
.navigation-list {
  float: right;
  margin: 0;
}
h1 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #555252;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.6px;
}
h1::first-letter {
  font-family: "Roboto - Black", sans-serif;
  color: #1abc9c;
  font-weight: 800;
}
li a {
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
}
/*--First Section*/
.slider {
  display: block;
  object-fit: cover;
  position: relative;
  min-width: 600px;
  max-width: 1600px;
  margin-bottom: 94px;
}
.slides-image {
  height: auto;
  object-fit: cover;
  width: 100%;
}
/*--First Section Button--*/
button {
  border: none;
}

.slider-move {
  position: absolute;
  display: inline-block;
  background-color: #4ec6ab;
  width: 104px;
  height: 104px;
}
.slider-move:hover {
  opacity: 0.65;
}

.prev {
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}
.next {
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
.slides {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slides-descr {
  font-family: sans-serif;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  right: 32%;
  top: 43%;
  transform: translate(-50% -50%);

  font-size: 25px;
  font-weight: 300;
}
h2 {
  font-family: sans-serif;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  right: 28%;
  top: 26%;
  transform: translate(-50% -50%);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 80px;
}

/*--Second Section*/

h3 {
  font-family: "Roboto", sans-serif;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 25px;
  margin-bottom: 80px;
}
h3::after {
  content: " ";
  display: block;
  position: absolute;
  background-color: #1abc9c;
  width: 166px;
  height: 9px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

/*-- Shopping Cards --*/

.gallery-container {
  display: block;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1160px;
  margin-bottom: 100px;
}
.gallery {
  position: relative;
  height: 322px;
  width: 255px;
  margin-right: 26px;
}
.gallery:nth-child(4) {
  margin-right: 0px;
}

.gallery > img {
  display: block;
  object-fit: cover;
  height: 322px;
  width: 255px;
  margin: 0px;
}
.gallery-wrapper {
  max-width: 1111px;
}

.info-wrapper {
  position: absolute;
  background-color: #8c8c8c;
  bottom: 0;
  padding: 0px;
  margin-top: -5px;
  height: 42px;
  width: 257px;
}
.gallery p {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  color: #ffffff;
  background-color: #323232;
  margin: 0 auto;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 78%;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.36px;
}
.gallery:hover p {
  background-color: #1abc9c;
}
.info-wrapper span {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  margin-right: 2px;
  margin-left: 2px;
}
.gallery:hover .info-wrapper {
  background-color: #7fd9c7;
}

/* --OVERLAY--*/

.overlay {
  position: absolute;
  background-color: #000000;
  border: 10px solid #ffffff;
  top: 0;
  left: 0;
  width: 235px;
  height: 261px;
  opacity: 0;
}
.square-icons {
  position: absolute;
  display: block;
  top: 89px;
  left: 30px;
}
.square-icons:nth-child(3) {
  margin-right: 0px;
}
.square-icons > span {
  position: relative;
}
.icon-img {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 26px;
}
.overlay-icon {
  display: inline-block;
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  margin-right: 2px;
}
.buy_product {
  display: inline-block;
  position: absolute;
  border: 1px solid #ffffff;
  bottom: -2px;
  width: 166px;
  height: 50px;
}
.buy_product > img {
  display: inline-block;
  width: 28px;
}
.buy_product h4 {
  font-family: "Open Sans";
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  right: 18px;
  width: 90px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
}
.buy_product img {
  position: absolute;
  display: inline-block;
  left: 13px;
  top: 11px;
  width: 28px;
}
/*--OVERLAY HOVER--*/

.gallery:hover > .overlay {
  opacity: 0.55;
}
.overlay-icon:hover {
  background-color: #1abc9c;
  opacity: 1;
}
.buy_product:hover {
  background-color: #1abc9c;
  opacity: 1;
}

/*-- FOOTER --*/

.footer_container {
  text-align: center;
  position: relative;
  background-color: #323232;
  width: 100%;
  height: 88px;
}
.footer_container p {
  font-family: "Open Sans";
  display: inline-block;
  color: #fefefe;
  font-size: 16px;
  font-weight: 400;
}
.footer_container a {
  color: #46bfa9;
}
.footer_container_wrapper {
  position: absolute;
  right: 36%;
  bottom: 20%;
}
