/*Base Settings*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0 38px 0;
}

/*Logo and Navigation Settings*/

.logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: gray;
  font-weight: 300;
  font-size: 21px;
}

.logo::first-letter {
  font-family: "Roboto", sans-serif;
  color: #4ec6ab;
  font-weight: 900;
}

.navigation-list {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: block;
  font-size: 0;
}

.navigation-list li {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 900;
  margin-right: 35px;
}
.navigation-list a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a:hover,
.navigation-list a:focus {
  color: #4ec6ab;
}

/*Slider Settings*/

.slider {
  width: 100%;
  background: url("/module-05/images/slide-01.png"),
    linear-gradient(
      to bottom,
      rgba(58, 58, 58, 0.6) 0%,
      rgba(22, 19, 18, 0.6) 100%
    );
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: auto;
  background-size: cover;
  display: flex;
}

.slider-wrapper {
  position: relative;
  margin: 270px 0 300px 0;
}

.slider-description {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
}

.slider-prev {
  border: none;
  position: absolute;
  background-color: #53a08d;
  cursor: pointer;
  height: 104px;
  width: 104px;
  left: -185px;
  top: 20px;
}

.slider-next {
  border: none;
  position: absolute;
  background-color: #1abc9c;
  cursor: pointer;
  height: 104px;
  width: 104px;
  right: -185px;
  top: 20px;
}

.slider-text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  padding: 37px 0 0 0;
}

/*Item Information Settings*/

.info-wrapper {
  margin-top: -4px;
  font-size: 0;
  margin-bottom: 100px;
}

.item-description {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #323232;
  color: white;
  padding: 14px 0 13px 14px;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
}

.item-price {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
  padding: 14px 0 13px 0;
  width: 55px;
  font-size: 18px;
  font-weight: 700;
}

/*Gallery Settings*/

.gallery {
  background-color: #e9f0fd;
}

.gallery-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #515151;
  font-size: 46px;
  font-weight: 900;
  width: 415px;
  padding: 104px 0 122px 0;
}

.gallery-title::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #4ec6ab;
  width: 164px;
  height: 7px;
  top: 182px;
  left: 140px;
}

.gallery-menu {
  list-style: none;
}

.gallery-menu-item {
  display: inline-block;
  width: 255px;
  margin-right: 26px;
  position: relative;
}

.gallery-menu-item:hover .item-description {
  background-color: #1abc9c;
}

.gallery-menu-item:hover .item-price {
  background-color: #7fd9c7;
}

.gallery-menu-item:last-child {
  margin-right: 0;
}

.overlay {
  display: none;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 282px;
  border: 10px solid rgba(255, 255, 255, 0.7);
  background-clip: content-box;
}

.gallery-menu-item:hover .overlay {
  display: block;
}

.overlay-list {
  list-style: none;
  margin: 79px auto 0;
  font-size: 0;
  width: 166px;
}

.square-icons {
  display: inline-block;
  margin-right: 8px;
}

.square-icons button {
  background: none;
  border: none;
}

.overlayImage-img {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  padding: 13px 11px 13px 11px;
  margin-bottom: 8px;
}

.square-icons:nth-child(3n) {
  margin-right: 0;
}

.overlayImage-img:hover {
  background-color: #1abc9c;
}

.purchase {
  border: 1px solid white;
  background-color: #323232;
  margin: 0 auto;
  position: relative;
  width: 166px;
  height: 50px;
}

.img-purchase {
  margin: 10px 0 11px 12px;
}

.purchase-text {
  font-size: 14px;
  position: absolute;
  color: white;
  top: 17px;
  left: 54px;
  font-family: "Roboto", sans-serif;
}

.purchase:hover {
  background-color: #1abc9c;
}

/* Footer Info Settings*/

.footer-info {
  height: 88px;
  width: 100%;
  background-color: #323232;
}

.rights {
  display: inline-block;
  padding-top: 35px;
  margin-left: 40%;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.theme {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #1abc9c;
}
