@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.menu_clearfix {
  display: block;
  font-size: 0;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}
.header_content {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 56px;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #b4ad9e;
  text-align: left;
  display: block;
}
article > a {
  font-family: Playfair Display, sans-serif;
  color: #ccc7bd;
}

a:hover {
  color: #00b7ff;
}
p {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 10px;
  color: #626262;
}
h2 {
  font-size: 30px;
  color: #626262;
  margin-top: 29px;
}
p {
  margin-top: 30px;
}

.post_image {
  margin-bottom: 15px;
}

.menu {
  list-style: none;
  text-align: center;
  font-size: 0;
}

.nav_link {
  display: inline-block;
}

.nav_link:not(:last-of-type) {
  margin-right: 80px;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
}

.list_button {
  padding-bottom: 53px;
}

.posts__list {
  list-style: none;
  font-size: 0;
  margin: 0 0 40px;
}

.posts__item {
  width: 420px;
  display: inline-block;
}

.posts__item:not(:nth-last-of-type(-n + 2)) {
  margin: 0 0 65px;
}

.posts__item:not(:nth-of-type(even)) {
  margin-right: 60px;
  margin-top: 21px;
}

button {
  display: block;
  margin: auto;
  margin: 0 auto;
  color: #626262;
  font-size: 20px;
  border: 1px solid #626262;
  background-color: white;
  height: 60px;
  width: 160px;
}

button:hover {
  background: #786b59; 
  color: #ffe; 
 } 