@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #B4AD9E;
  text-align: left;
  
}
article > a {
  font-family: Playfair Display, sans-serif;
  color: #ccc7bd;
}

a:hover {
  color: #00B7FF;
}
p {
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  font-weight: 10px;
  color: #626262;
}
h2 {
  font-size: 30px;
  color: #626262;
  margin-top: 29px;
}
 p {
  margin-top: 30px;
}

img {
  padding-bottom: 15px;
  margin-top: 80px;
}


.menu {
  max-width: 502px;
  margin: 25 auto;
  list-style: none;
}


.nav_link {
  float: left;

}

.nav_link:not(:last-of-type) {
  margin-right: 80px;
}

.wrapper {
  display: block;
  margin: 75px auto 60px;
  width: 884px;
}

.posts__list {
  list-style: none;
}

.posts__item {
  width: 421px;
  margin: 0 0 30px;
  float: left;
}

.posts__item:not(:nth-of-type(even)) {
  margin-right: 40px;
}

button {
  display: block;
  margin: auto;
  display: block;
  margin: 0 auto;
  color: #626262;
  font-size: 20px;
  border: 1px solid #626262;
  background-color: white;
  height: 60px;
  width: 160px;
}

